//imports
@import "variables";
@import "mixin";
@import "body";
@import "home";
@import "about";
@import "contacto";
@import "productos";
@import "compra";
@import "preguntas";
@import "tipografia";
@import "linea";
@import "footer";


//reseteo
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------------------------------------Responsive----------------------------------------------------*/

 //Tablet 1

     @media screen and (min-width:768px) and (max-width:1600px){
        //Pagina de inicio
        .container1 { 
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto auto auto;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "header"
              "carousel" 
              "article"
              "footer";
              .header{
                header{
                 nav{
                    .navdiv{
                        a{
                            font-size: 15px; 
                            .logo{
                                width: 80px;
                            }
                        }
                        .hover:hover{
                            transform: scale(1.1,1.1);
                            padding: 10px;
                        }
                       
                    }
                 } 
                }
        }
              .carousel {  
                width: auto;
            }
        }
        .subtitulo{
            font-size: 20px;
        }
        .parrafo1{
          width: 95%;
          font-size: 1.8vh;
        }
        //Sobre Nosotros
          .container2 { 
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto auto auto auto auto auto auto auto;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "header"
              "linea"
              "texto1"
              "imagen1"
              "linea2"
              "texto2"
              "imagen2"
              "linea3"
              "footer2";
              .header{
                 nav{
                    .navdiv{
                        a{
                            font-size: 15px; 
                            .logo{
                                width: 80px;
                            }
                           
                        }
                        .hover:hover{
                            transform: scale(1.1,1.1);
                            padding: 10px;
                        }
                    }
                 } 
            } 
            .texto1, .texto2{
                padding: 10px;
              }
            .imagen1, .imagen2{
                margin-top: auto;
                margin-bottom: auto;
                .img{
                    width: 500px;
                }
            }
          }
          //Contacto
          .container3 {  
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto auto;
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "header"
              "linea"
              "formulario"
              "linea2"
              "footer3";
            .header{
                nav{
                   .navdiv{
                       a{
                           font-size: 15px; 
                           .logo{
                               width: 80px;
                           }
                          
                       }
                       .hover:hover{
                        transform: scale(1.1,1.1);
                        padding: 10px;
                    }
                   }
                } 
           } 
          }
          //Productos
          .container4 {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto auto auto auto auto auto auto auto auto auto auto;
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "header"
              "linea"
              "anuncio1"
              "car1"
              "linea2"
              "anuncio2"
              "car2"
              "linea3"
              "anuncio3" 
              "car3"
              "linea4"
              "footer2";
              .header{
                nav{
                   .navdiv{
                       a{
                           font-size: 15px; 
                           .logo{
                               width: 80px;
                           }
                          
                       }
                       .hover:hover{
                        transform: scale(1.1,1.1);
                        padding: 10px;
                    }
                   }
                } 
           }
           .anuncio1, .anuncio2, .anuncio3{
            padding: 10px;
            .comprar{
                text-align: center;
            }
          }
          .car1, .car2, .car3{
            margin-top: auto;
            .carousel {  
                width: auto;
            }
          }
          .linea4{
            margin-bottom: 15px;
          }
          .footer2{
            margin-top: auto;
          }
          }
          //Pagina de compra
          .container5 {  
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto auto auto auto;
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "header"
              "linea"
              "formulario2"
              "linea2"
              "footer2";
              .header{
                nav{
                   .navdiv{
                       a{
                           font-size: 15px; 
                           .logo{
                               width: 80px;
                           }
                          
                       }
                       .hover:hover{
                        transform: scale(1.1,1.1);
                        padding: 10px;
                    }
                   }
                } 
           } 
          }
          //Preguntas Frecuentes
          .container6 {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto auto auto auto auto auto auto auto auto auto auto;
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: column;
            grid-template-areas:
              "header"
              "linea"
              "pregunta1" 
              "foto1"
              "linea2"
              "pregunta2"
              "foto2" 
              "linea3"
              "pregunta3" 
              "foto3"
              "linea4"
              "footer2";
             .header{
                nav{
                   .navdiv{
                       a{
                           font-size: 15px; 
                           .logo{
                               width: 80px;
                           }
                          
                       }
                       .hover:hover{
                        transform: scale(1.1,1.1);
                        padding: 10px;
                    }
                   }
                } 
           } 
           .pregunta1, .pregunta2, .pregunta3{
            padding: 10px;
            }
            .foto1, .foto3{
                margin-top: auto;
                .pregunta-img{
                    width: 400px;
                }
            }
            .foto2{
                margin-top: auto;
                .pregunta-img2{
                    width: 470px;
                  }
            }
          }
      }

    //Tablet 2

      @media screen and (min-width:500px) and (max-width:768px){
        //Pagina de inicio
        .container1 { 
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto auto auto;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "header"
              "carousel" 
              "article"
              "footer";
              .header{
                header{
                 nav{
                    .navdiv{
                        a{
                            font-size: 13px; 
                            .logo{
                                width: 60px;
                            }
                           
                        }
                        .hover:hover{
                            transform: scale(1.1,1.1);
                            padding: 10px;
                        }
                    }
                 } 
                }
        }
              .carousel {  
                width: auto;
            }
        }
        footer{
            align-items: center;
            display: flex;
            justify-content: space-evenly;

            .instagram{
                inline-size: 70px;
            }
            .facebook{
                inline-size: 60px;
            }
            .tiktok{
                inline-size: 68px;
            }
        }
        .subtitulo{
            font-size: 20px;
        }
        .parrafo1{
          width: 95%;
          font-size: 1.6vh;
        }
        //Sobre Nosotros
          .container2 { 
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto auto auto auto auto auto auto auto;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "header"
              "linea"
              "texto1"
              "imagen1"
              "linea2"
              "texto2"
              "imagen2"
              "linea3"
              "footer2";
              .header{
                 nav{
                    .navdiv{
                        a{
                            font-size: 13px; 
                            .logo{
                                width: 60px;
                            }
                           
                        }
                        .hover:hover{
                            transform: scale(1.1,1.1);
                            padding: 10px;
                        }
                    }
                 } 
            } 
            .texto1, .texto2{
                padding: 5px;
              }
            .imagen1, .imagen2{
                margin-top: auto;
                margin-bottom: auto;
                .img{
                    width: 350px;
                }
            }
          }
          //Contacto
          .container3 {  
            grid-template-columns: 1fr;
            grid-template-rows: auto auto auto auto auto;
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "header"
              "linea"
              "formulario"
              "linea2"
              "footer3";
            .header{
                nav{
                   .navdiv{
                       a{
                           font-size: 13px; 
                           .logo{
                               width: 60px;
                           }
                          
                       }
                       .hover:hover{
                        transform: scale(1.1,1.1);
                        padding: 10px;
                    }
                   }
                } 
           } 
          }
          //Productos
          .container4 {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto auto auto auto auto auto auto auto auto auto auto;
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "header"
              "linea"
              "anuncio1"
              "car1"
              "linea2"
              "anuncio2"
              "car2"
              "linea3"
              "anuncio3" 
              "car3"
              "linea4"
              "footer2";
              .header{
                nav{
                   .navdiv{
                       a{
                           font-size: 13px; 
                           .logo{
                               width: 60px;
                           }
                          
                       }
                       .hover:hover{
                        transform: scale(1.1,1.1);
                        padding: 10px;
                    }
                   }
                } 
           }
           .anuncio1, .anuncio2, .anuncio3{
            padding: 5px;
            .comprar{
                text-align: center;
            }
          }
          .car1, .car2, .car3{
            margin-top: auto;
            .carousel {  
                width: auto;
            }
          }
          .linea4{
            margin-bottom: 15px;
          }
          .footer2{
            margin-top: auto;
          }
          }
          //Pagina de compra
          .container5 {  
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto auto auto auto;
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "header"
              "linea"
              "formulario2"
              "linea2"
              "footer2";
              .header{
                nav{
                   .navdiv{
                       a{
                           font-size: 13px; 
                           .logo{
                               width: 60px;
                           }
                          
                       }
                       .hover:hover{
                        transform: scale(1.1,1.1);
                        padding: 10px;
                    }
                   }
                } 
           } 
          }
          //Preguntas Frecuentes
          .container6 {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto auto auto auto auto auto auto auto auto auto auto;
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: column;
            grid-template-areas:
              "header"
              "linea"
              "pregunta1" 
              "foto1"
              "linea2"
              "pregunta2"
              "foto2" 
              "linea3"
              "pregunta3" 
              "foto3"
              "linea4"
              "footer2";
             .header{
                nav{
                   .navdiv{
                       a{
                           font-size: 13px; 
                           .logo{
                               width: 60px;
                           }
                          
                       }
                       .hover:hover{
                        transform: scale(1.1,1.1);
                        padding: 10px;
                    }
                   }
                } 
           } 
           .pregunta1, .pregunta2, .pregunta3{
            padding: 5px;
            }
            .foto1, .foto3{
                margin-top: auto;
                .pregunta-img{
                    width: 350px;
                }
            }
            .foto2{
                margin-top: auto;
                .pregunta-img2{
                    width: 400px;
                  }
            }
          }
      }

    //Celular

      @media screen and (min-width:320px) and (max-width:500px){
        //Pagina de inicio
        .container1 { 
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto auto auto;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "header"
              "carousel" 
              "article"
              "footer";
              .header{
                header{
                 nav{
                    .navdiv{
                        a{
                            font-size: 12px; 
                            .logo{
                                width: 55px;
                            }
                           
                        }
                        .hover:hover{
                            transform: scale(1.1,1.1);
                            padding: 10px;
                        }
                    }
                 } 
                }
        }
              .carousel {  
                width: auto;
            }
        }
        footer{
            align-items: center;
            display: flex;
            justify-content: space-evenly;

            .instagram{
                inline-size: 62px;
            }
            .facebook{
                inline-size: 52px;
            }
            .tiktok{
                inline-size: 60px;
            }
        }
        .titulo{
            font-size: 30px;
        }
        .subtitulo{
            font-size: 18px;
        }
        .subtitulo2{
            font-size: 23px;
        }
        .parrafo1{
          width: 95%;
          font-size: 1.8vh;
        }
        //Sobre Nosotros
          .container2 { 
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto auto auto auto auto auto auto auto;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "header"
              "linea"
              "texto1"
              "imagen1"
              "linea2"
              "texto2"
              "imagen2"
              "linea3"
              "footer2";
              .header{
                 nav{
                    .navdiv{
                        a{
                            font-size: 12px; 
                            .logo{
                                width: 55px;
                            }
                        }
                        .hover:hover{
                            transform: scale(1.1,1.1);
                            padding: 10px;
                        }
                    }
                 } 
            } 
            .texto1, .texto2{
                padding: 5px;
              }
            .imagen1, .imagen2{
                margin-top: auto;
                margin-bottom: auto;
                .img{
                    width: 250px;
                }
            }

          }
          //Contacto
          .container3 {  
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr auto auto auto 0.5fr;
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "header"
              "linea"
              "formulario"
              "linea2"
              "footer3";
            .header{
                nav{
                   .navdiv{
                       a{
                           font-size: 12px; 
                           .logo{
                               width: 55px;
                           }
                          
                       }
                       .hover:hover{
                        transform: scale(1.1,1.1);
                        padding: 10px;
                    }
                   }
                } 
           } 
           .footer3{
            margin-top: auto;
           }
          }
          //Productos
          .container4 {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto auto auto auto auto auto auto auto auto auto auto;
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "header"
              "linea"
              "anuncio1"
              "car1"
              "linea2"
              "anuncio2"
              "car2"
              "linea3"
              "anuncio3" 
              "car3"
              "linea4"
              "footer2";
              .header{
                nav{
                   .navdiv{
                       a{
                           font-size: 12px; 
                           .logo{
                               width: 55px;
                           }
                          
                       }
                       .hover:hover{
                        transform: scale(1.1,1.1);
                        padding: 10px;
                    }
                   }
                } 
           }
           .anuncio1, .anuncio2, .anuncio3{
            padding: 5px;
            .comprar{
                text-align: center;
            }
          }
          .car1, .car2, .car3{
            margin-top: auto;
            .carousel {  
                width: auto;
            }
          }
          .linea4{
            margin-bottom: 15px;
          }
          .footer2{
            margin-top: auto;
          }
          }
          //Pagina de compra
          .container5 {  
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto auto auto auto;
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
              "header"
              "linea"
              "formulario2"
              "linea2"
              "footer2";
              .header{
                nav{
                   .navdiv{
                       a{
                           font-size: 12px; 
                           .logo{
                               width: 55px;
                           }
                          
                       }
                       .hover:hover{
                        transform: scale(1.1,1.1);
                        padding: 10px;
                    }
                   }
                } 
           } 
          }
          //Preguntas Frecuentes
          .container6 {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto auto auto auto auto auto auto auto auto auto auto;
            grid-auto-columns: 1fr;
            gap: 0px 0px;
            grid-auto-flow: column;
            grid-template-areas:
              "header"
              "linea"
              "pregunta1" 
              "foto1"
              "linea2"
              "pregunta2"
              "foto2" 
              "linea3"
              "pregunta3" 
              "foto3"
              "linea4"
              "footer2";
             .header{
                nav{
                   .navdiv{
                       a{
                           font-size: 12px; 
                           .logo{
                               width: 55px;
                           }
                          
                       }
                       .hover:hover{
                        transform: scale(1.1,1.1);
                        padding: 10px;
                    }
                   }
                } 
           } 
           .pregunta1, .pregunta2, .pregunta3{
            padding: 5px;
            }
            .foto1, .foto3{
                margin-top: auto;
                .pregunta-img{
                    width: 250px;
                }
            }
            .foto2{
                margin-top: auto;
                .pregunta-img2{
                    width: 250px;
                  }
            }
          }
      }